.photo .insta-layer {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photo:hover .insta-layer {
  opacity: 1;
}

.bg-dark {
  background-color: #111111;
}

.blinker {
  animation-name: blinkAnimation;
  animation-duration: 700ms;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite; /* or infinite */
}

@keyframes blinkAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
